<app-header></app-header>
<main>
  <ul id="users">
    <li *ngFor="let usr of userList; index as i">
         <!--Custom event  select got get data from child component-->
      <app-user [name]="usr.name" [index]="i"  [selected]="selectedUser && selectedUser.id==usr.id" (select)="getDataFromChild($event)"/>
    
      <!--<app-signal/>-->
    </li>
    <li>
             <!--2nd way to add Custom event -->
             <app-user [name]="userList[0].name" [index]="0" [selected]="false" (select2)="getDataFromChild($event)"/>
    </li>
  </ul>
  @if(selectedUser){
 <app-tasks [user]="selectedUser"></app-tasks>
  }
  @else{
    <p>Select User</p>
  }
</main>


<router-outlet />